mdb-navbar-brand {
  a{
    span {
      font-family: "Black", sans-serif;
      text-transform: uppercase;
      font-weight: 1000;
    }
    #bazz {
      color: white;
    }
    #car {
      color: red;
    }
  }
} 


links {
  ul {
    li {
      margin-right: 50px;
      a{
        span {
          font-family: brandon-grotesque, sans-serif;
          color: white;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 500;
          line-height: 13px;
        }
        h3 {
          color: black;
        }
      }
    }
  }
}

footer .footer-copyright{
  background: black;
}



/* HOVER */

links{
  ul li a span:hover{
    color: red;
  }
} 

/* ACTIVE */


links{
  .nav-item.active{
    color: red;
  }
} 

/* @MEDIA */
