
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black" [containerInside]="false">

  <!-- BAZZING CAR -->
  <mdb-navbar-brand>
    <a class="navbar-brand" routerLink="home" routerLinkActive="active-link">
      <img src="assets\cars\logocar.png" width="75px" height="33px" alt="">
      <span id="bazz">Bazz<img src="assets\z.png" alt="" width="15px" height="25px">ng
      </span>
      <span id="car">Car
      </span>
    </a>
  </mdb-navbar-brand>



  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav ml-auto">

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <span>BRANDS</span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light white" mdbWavesEffect routerLink="list-of-cars" routerLinkActive="active">
            <h6>BMW</h6>
          </a>
          <a class="dropdown-item waves-light white" mdbWavesEffect routerLink="list-of-cars" routerLinkActive="active">
            <h6>CHEVROLET</h6>
          </a>
          <a class="dropdown-item waves-light white" mdbWavesEffect routerLink="list-of-cars" routerLinkActive="active">
            <h6>JEEP</h6>
          </a>
          <a class="dropdown-item waves-light white" mdbWavesEffect routerLink="list-of-cars" routerLinkActive="active">
            <h6>VOLKSWAGEN</h6>
          </a>
        </div>
      </li>
      <li class="nav-item">

        <a class="nav-link waves-light" mdbWavesEffect routerLink="vehicles" routerLinkActive="active">
          <span>Vehicles</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="promotions" routerLinkActive="active">
          <span>Promotions</span>
        </a>
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->


<!-- 

<header class="intro-header">
  <div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-left scrolling-navbar">

    <div class="container-fluid">

      <a class="navbar-brand" routerLink="home" routerLinkActive="active-link">
        <img src="assets\cars\logocar.png" width="100px" alt=""> <span class="bazzingcar">Bazz<img src="assets\z.png" alt="" width="15px" height="25px">ng </span> <span
          class="kulay">Car </span></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
        aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item ">
                <a class="nav-link" routerLink="list-of-cars" routerLinkActive="active"><span>Brands</span></a>
              </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="vehicles" routerLinkActive="active"><span>Vehicles</span></a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="promotions" routerLinkActive="active"><span>Promotions</span></a>
          </li>
        </ul>
        
      </div>
      
    </div>
    
    
  </nav>
</div>
</header> -->


<router-outlet></router-outlet>



<!-- Footer -->
<footer class="page-footer font-small position-bottom-100%">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <hr >
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-3 mx-auto">
        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">
        </h5>

        <ul class="list-unstyled">
          <li>
            <img src="assets\cars\BMW\BMW-Logo.png" class="d-block w-100" alt="..." width="90px" height="150px">
          </li>
        </ul>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none">
      <!-- Grid column -->
      <div class="col-md-3 mx-auto">
        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">
        </h5>
        <ul class="list-unstyled">
          <li>
            <br>
            <br>
          </li>
          <li>
            <img src="assets\cars\Chevrolet\chevrolet-logo.png" class="d-block w-100" alt="...">
          </li>
        </ul>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none">
      <!-- Grid column -->
      <div class="col-md-3 mx-auto">
        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">
        </h5>
        <ul class="list-unstyled">
          <li>
            <img src="assets\cars\Jeep\Jeep-logo.png" class="d-block w-100" alt="...">
          </li>
        </ul>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none">
      <!-- Grid column -->
      <div class="col-md-3 mx-auto">
        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">
        </h5>
        <ul class="list-unstyled">
          <li>
            <img src="assets\cars\Volswagen\Volkswagen-logo.png" class="d-block w-100" alt="...">
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 ">© 2019 Copyright:
    <a href="https://facebook.com/gleath05" #linkfacebook>Car Manufacturer
    </a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->