<!--exampleModal2 ADD BUTTON -->
<div class="container" style="margin-top: 25px ">
    <!--ADD BUTTON TABLE-->
    <table class="table table-hover">
        <thead>
            <th>Vehicle</th>
            <th>Price</th>
            <th>Color</th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let prod of list">
                <td>{{prod.vehicle}}</td>
                <td>&#8369; {{prod.price | number:'1.2-3' }}</td>
                <td>{{prod.color}}</td>
                <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2"
                        data-whatever="@getbootstrap"><i class="fas fa-pencil-alt"
                            (click)=onEdit(prod)>Edit</i></button>
                </td>
                <td><a class="btn text-danger" (click)="onDelete(prod.id)"><i class="fa fa-trash">Trash</i></a></td>
            </tr>
        </tbody>
    </table>

    <div class="modal fade" id="exampleModal2" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Car</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    <form #form="ngForm" autocomplete="off" (submit)="onEditSubmit(form)">
                        <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
                        <div class="form-group">
                            <input name="vehicle" #vehicle="ngModel" [(ngModel)]="service.formData.vehicle"
                                class="form-control" placeholder="Vehicle" required>
                            <div *ngIf="vehicle.invalid && vehicle.touched" class="validation-error">This field is
                                required</div>
                        </div>
                        <div class="form-group">
                            <input name="price" #price="ngModel" [(ngModel)]="service.formData.price"
                                class="form-control" placeholder="Price" type="number">
                        </div>

                        <div class="form-group">
                            <input name="color" #color="ngModel" [(ngModel)]="service.formData.color"
                                class="form-control" placeholder="Color">
                        </div>

                        <div class="form-group">
                            <div class="modal-footer">
                                <button type="submit" [disabled]="form.invalid"
                                    class="btn btn-lg btn-block btn-info">SUBMIT</button>
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
    <div class="margin-bottom">

        </div>
</div>

