/* You can add global styles to this file, and also import other style files */
input.ng-touched.ng-invalid {
    border-color: #dc3545;
}

div.validation-error{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}
/* table.table-hover tbody tr:hover{
    cursor: pointer;
} */

 body {
    background: white;
}

h1 {
    color: black;
}
p {
    color: black;
}

hr {
    background-color: black;
  } 
