<h1 class="display-4">
    <!--MODAL FOR ADD BUTTON-->
</h1>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
    data-whatever="@getbootstrap" (click)="resetAddForm()">Add +</button>

<div class="modal fade" id="exampleModal" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Car</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
                    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
                    <div class="form-group">
                        <input name="vehicle" #vehicle="ngModel" [(ngModel)]="service.formData.vehicle"
                            class="form-control" placeholder="Vehicle" required>
                        <div *ngIf="vehicle.invalid && vehicle.touched" class="validation-error">This field is
                            required</div>
                    </div>
                    <div class="form-group">
                        <input name="price" #price="ngModel" [(ngModel)]="service.formData.price" class="form-control"
                            placeholder="Price" type="number">
                        <div *ngIf="price.invalid && price.touched" class="validation-error" type="number">This field is
                            required</div>
                    </div>

                    <div class="form-group">
                        <input name="color" #color="ngModel" [(ngModel)]="service.formData.color" class="form-control"
                            placeholder="Color" type="string">
                    </div>

                    <div class="form-group">
                        <div class="modal-footer">
                            <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block btn-info"
                                (click)="closeForm()">SUBMIT</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>