

  iframe.bmw{
      position: relative;
      border-radius: 5%;
      box-shadow: 0 0 5px 3px #555;
      margin-top: 75px;
      width: 100%;
      
  }
 
  iframe.chevrolet{
    position: relative;
      border-radius: 5%;
      box-shadow: 0 0 5px 3px #555;
      margin-top: 75px;
      width: 100%;
} 

iframe.jeep{
    position: relative;
      border-radius: 5%;
      box-shadow: 0 0 5px 3px #555;
      margin-top: 75px;
      width: 100%;
}

iframe.volkswagen{
    position: relative;
      border-radius: 5%;
      box-shadow: 0 0 5px 3px #555;
      margin-top: 75px;
      width: 100%;
}




h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
p {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    // color: white;

}
.banner-article-main {
  padding: 0;
}


.banner-article-blog {
  padding: 0px 15px;
  
}
.carousel-main {
  padding-bottom: 15px;
}


@media only screen and (max-width: 992px){
  .banner-article-blog {
    padding: 0;

  }
}

@media only screen and (min-width: 992px){
  .carousel-main .carousel-items img {
    height: 529px;
    
  }
}


h2 {
  color: #fff;
  font-size: 24px;
  line-height: 25px;
  font-weight: 600;
  align-self: flex-end;
  margin: 0 20px 20px 20px;
}

.article-container {
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.banner-article-blog .article-container .article-background {
  background-position: center;
    background-size: cover;
    height: 170px;
    transition: transform .2s;
}

.article-overflow {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.39);
  display: flex;
}


.banner-article-blog .article-container .article-overflow a {
  color: #fff;
  transition: .2s ease-in-out color;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}