<header class="h-50">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-9 banner-article-main">
        <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner carousel-main">
            <!--BMW-->
            <div class="carousel-item active carousel-items" data-interval="4000">
              <img src="assets\cars\BMW\bmw1.png" class="d-block w-100" alt="...">
            </div>
            <!--CHEVROLET-->
            <div class="carousel-item carousel-items" data-interval="4000">
              <img src="assets\cars\Chevrolet\chevrolet3.png" class="d-block w-100" alt="...">
            </div>
            <!--JEEP-->
            <div class="carousel-item carousel-items" data-interval="4000">
              <img src="assets\cars\Jeep\jeep1.png" class="d-block w-100" alt="...">
            </div>
            <!--VOLKSWAGEN-->
            <div class="carousel-item carousel-items" data-interval="4000">
              <img src="assets\cars\Volswagen\Volkswagen4.png" class="d-block w-100" alt="...">
            </div>
          </div>
          <!--Previous-->
          <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <!--Next-->
          <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-setsize="1px"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="col-lg-3 banner-article-blog">
        <div class="row">
          <div class="col-12">
            <div class="article-container">
              <div class="article-background"
                style="background-image:url(https://live.staticflickr.com/7255/7615170670_2f3eacd177_c.jpg);">
                <div class="article-overflow">
                  <h2>
                  <a href="">Check Out The Latest Cars Here In Bazzing Car</a>
                </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="article-container">
              <div class="article-background"
                style="background-image:url(https://drivingcoach.co.za/wp-content/uploads/2016/10/2-1920x1080.jpg);">
                <div class="article-overflow">
                  <h2>
                    <a href="">Why Choose Bazzing Car?</a>
                  </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="article-container">
            <div class="article-background"
              style="background-image:url(https://blog.ecivis.com/hubfs/purposebusiness.jpg);">
              <div class="article-overflow">
                <h2>
                <a href="">Plan or Save A Money For a New Car? Check This Bazzing Plan!</a>
              </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</header>
<!--Main Navigation-->
<!--Main Layout-->

<main class="text-left py-5">

  <div class="container second-content">
    <div class="row">
      <!--BMW-->
      <div class="col-md-6">
        <div class="bmwForm">
          <h1 class="text-left animated wow fadeInLeft delay-800ms">
            <strong>BMW </strong><img src="assets\cars\BMW\BMW-Logo.png" width="100px" height="60px" alt="no pic">
          </h1>
          <p class="text-justify animated wow zoomIn delay-600ms">BMW AG originated with three other manufacturing
            companies, Rapp Motorenwerke and Bayerische
            Flugzeugwerke (BFw) in Bavaria, and Fahrzeugfabrik Eisenach in Thuringia. The company is now known as BMW or
            Bayerische Motoren Werke. Aircraft engine manufacturer Rapp Motorenwerke became Bayerische Motorenwerke in
            1916. The engine manufacturer, which built proprietary industrial engines after World War I, was then bought
            by the owner of BFw who then merged BFw into BMW and moved the engine works onto BFw's premises. BFw's
            motorcycle sideline was improved upon by BMW and became an integral part of their business.
          </p>
        </div>
      </div>

      <div class="col-md-6">
        <iframe class="bmw"
          src="https://www.youtube.com/embed/LqCVfn7mwgw?vq=hd1080&autoplay=1&loop=1&showinfo=0&cc_load_policy=1&disablekb=1"
          width="560" height="315" frameborder="0"></iframe>
      </div>
    </div>
    <hr>

    <!--CHEVROLET-->
    <div class="row">
      <div class="col-md-6">
        <iframe class="chevrolet"
          src="https://www.youtube.com/embed/v7zN47KM5Ew?vq=hd1080&autoplay=1&loop=1&showinfo=0&cc_load_policy=1&disablekb=1"
          width="560" height="315" frameborder="0"></iframe>
      </div>
      <div class="col-md-6">

        <h1 align="right" class="animated wow fadeInRight delay-800ms">
          <img src="assets\cars\Chevrolet\chevrolet-logo.png" width="100px" height="60px" alt="no pic"><strong>
            Chevrolet</strong>
        </h1>
        <p align="justify" class="animated wow zoomIn delay-600ms">Chevrolet, colloquially referred to as Chevy and
          formally the Chevrolet Division of General
          Motors Company, is an American automobile division of the American manufacturer General Motors (GM).
          After Durant's second ousting in 1919, Alfred Sloan, with his maxim "a car for every purse and purpose", would
          pick the Chevrolet brand to become the volume leader in the General Motors family, selling mainstream vehicles
          to compete with Henry Ford's Model T in 1919 and overtaking Ford as the best-selling car in the United States
          by 1929.
        </p>
      </div>
    </div>
    <hr>




    <!--JEEP-->
    <div class="row">
      <div class="col-md-6">
        <h1 align="left" class="animated wow fadeInLeft delay-800ms">
          <strong>Jeep </strong><img src="assets\cars\Jeep\Jeep-logo.png" width="100px" height="60px" alt="no pic">
        </h1>


        <p align="justify" class="animated wow zoomIn delay-600ms">Jeep is a brand of American automobile and division
          of FCA US LLC (formerly Chrysler Group,
          LLC), a wholly owned subsidiary of the Italian-American corporation Fiat Chrysler Automobiles. Jeep has been a
          part of Chrysler since 1987, when Chrysler acquired the Jeep brand, along with remaining assets, from its
          previous owner American Motors Corporation (AMC). Jeep's current product range consists solely of sport
          utility vehicles and off-road vehicles, but has also included pickup trucks and roadsters in the past; Jeep
          returned to the pickup truck market in early 2019.
        </p>
      </div>
      <div class="col-md-6">

        <iframe class="jeep"
          src="https://www.youtube.com/embed/EzfdGiGRNoA?vq=hd1080&autoplay=1&loop=1&showinfo=0&cc_load_policy=1&disablekb=1"
          width="560" height="315" frameborder="0"></iframe>
      </div>
    </div>
    <hr>


    <!--VOLKSWAGEN-->
    <div class="row">
      <div class="col-md-6">

        <iframe class="volkswagen"
          src="https://www.youtube.com/embed/BzP6NOGNIWo?vq=hd1080&autoplay=1&loop=1&showinfo=0&cc_load_policy=1&disablekb=1"
          width="560" height="315" frameborder="0"></iframe>

      </div>
      <div class="col-md-6">
        <h1 align="right" class="animated wow fadeInRight delay-800ms">
          <img src="assets\cars\Volswagen\Volkswagen-logo.png" width="100px" height="60px" alt="no pic"><strong>
            Volkswagen</strong></h1>

        <p align="justify" class="animated wow zoomIn delay-600ms">Volkswagen was established in 1937 by the German
          Labour Front (Deutsche Arbeitsfront) in
          Berlin. In the early 1930s cars were a luxury: most Germans could afford nothing more elaborate than a
          motorcycle. Only one German out of 50 owned a car. Seeking a potential new market, some car makers began
          independent "people's car" projects – the Mercedes 170H, Adler AutoBahn, Steyr 55, and Hanomag 1.3L, among
          others.
        </p>
      </div>
    </div>

  </div>
</main>
<!--Main Layout-->


<!--Main Navigation-->